<div style="display: flex; flex-direction: row; align-items: center;">
  <span style="width: 10px; height: 10px; border-radius: 100%; background-color: green; margin-right: 6px;"></span>
  <p><%= state %></p>
</div>
