<style>
  .hw-combobox [role="listbox"] { padding: 0; }
  .hw-combobox [role="option"] { list-style: none; }
  .selected { background-color: #f0f0f0; }
</style>

<%= combobox_tag "state", id: "state-field",
      options: html_combobox_options(@states),
      data: { "hw-combobox-selected-class": "selected" } %>

<div id="separate-element" style="width: 100px; height: 100px; background-color: red;"></div>
