<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: @user, html: { style: "display: flex; flex-direction: column; gap: 1rem;" } do |form| %>
  <%= form.combobox :visited_state_ids, State.all, label: "Visited states", multiselect_chip_src: new_state_chip_path %>
  <%= form.submit style: "padding: 0.5rem;" %>
<% end %>
