<style>
  #required { width: 12.5rem; }
</style>

<div data-controller="combobox--events" style="display: flex; flex-direction: column; align-items: start; gap: 1rem;">
  <div style="display: flex; align-items: start; gap: 1rem;">
    <span data-combobox--events-target="selectionScratchpad"></span>
    <span data-combobox--events-target="closedScratchpad"></span>
  </div>

  <div style="display: flex; align-items: start; gap: 1rem;">
    <div data-combobox--events-target="selectionCount"></div>
    <div data-combobox--events-target="closedCount"></div>
  </div>

  <div style="display: flex; align-items: start; gap: 1rem;">
    <%= combobox_tag "state", State.all,
          id: "states-field",
          label: "States",
          multiselect_chip_src: new_state_chip_path,
          placeholder: "Select states",
          data: { action: "hw-combobox:selection->combobox--events#showSelection hw-combobox:closed->combobox--events#showClosed" } %>
  </div>
</div>

