<style>
  .wide-multiple-field {
    margin-right: 1rem;
    width: 30rem;
  }
</style>

<div data-controller="combobox--events" style="display: flex; align-items: start; gap: 1rem;">
  <%= combobox_tag :state,
                   @state_options,
                   id: "state-field",
                   data: { action: "hw-combobox:selection->combobox--events#showSelection hw-combobox:closed->combobox--events#showClosed" },
                   multiple: true,
                   value: ['FL', 'MO'] do |combobox| %>
    <% combobox.customize_main_wrapper class: "wide-multiple-field" %>
  <% end %>

  <span data-combobox--events-target="selectionScratchpad"></span>
  <span data-combobox--events-target="closedScratchpad"></span>
</div>
