<div class="simple-chip">
  <span class="simple-chip__display">{{display}}</span>
  <%= tag.span **combobox_chip_remover_attrs(display: "{{display}}", value: "{{value}}", class: "simple-chip__remover") %>
</div>
