:root {
  --hw-active-bg-color: #F3F4F6;

  --hw-border-color: #D1D5DB;
  --hw-border-radius: 0.375rem;
  --hw-border-width--slim: 1px;
  --hw-border-width--thick: 2px;

  --hw-handle-offset-right: 0.375rem;
  --hw-handle-width: 1.5em;

  --hw-combobox-width: 8rem;

  --hw-focus-color: #2563EB;

  --hw-line-height: 1.5rem;

  --hw-listbox-offset-top: var(--hw-line-height);
  --hw-listbox-z-index: 10;

  --hw-option-bg-color: #FFFFFF;

  --hw-padding--slim: 0.375rem;
  --hw-padding--thick: 0.75rem;
}

.hw-combobox {
  border-width: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}

.hw-combobox__input {
  border: var(--hw-border-width--slim) solid var(--hw-border-color);
  border-radius: var(--hw-border-radius);
  line-height: var(--hw-line-height);
  padding: var(--hw-padding--slim) var(--hw-padding--thick);
  position: relative;
  width: var(--hw-combobox-width);
}

.hw-combobox__handle {
  height: 100%;
  position: absolute;
  right: var(--hw-handle-offset-right);
  top: 0;
  width: var(--hw-handle-width);
}

.hw-combobox__handle::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--hw-handle-width);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hw-combobox__input:focus-visible {
  box-shadow: 0 0 0 var(--hw-border-width--thick) var(--hw-focus-color);
  outline: none;
}

.hw-combobox__listbox {
  border-radius: calc(var(--hw-border-radius) + var(--hw-border-width--slim));
  left: 0;
  line-height: var(--hw-line-height);
  list-style: none;
  overflow: clip;
  padding: 0;
  position: absolute;
  top: var(--hw-listbox-offset-top);
  width: 100%;
  z-index: var(--hw-listbox-z-index);
}

.hw-combobox__option {
  background-color: var(--hw-option-bg-color);
  border-color: var(--hw-border-color);
  border-style: solid;
  border-width: 0 var(--hw-border-width--slim);
  padding: var(--hw-padding--slim) var(--hw-padding--thick);
  white-space: nowrap;
}

.hw-combobox__option:first-child {
  border-top-left-radius: var(--hw-border-radius);
  border-top-right-radius: var(--hw-border-radius);
  border-width: var(--hw-border-width--slim) var(--hw-border-width--slim) 0 var(--hw-border-width--slim);
}

.hw-combobox__option:last-child {
  border-bottom-left-radius: var(--hw-border-radius);
  border-bottom-right-radius: var(--hw-border-radius);
  border-width: 0 var(--hw-border-width--slim) var(--hw-border-width--slim) var(--hw-border-width--slim);
}

.hw-combobox__option:hover,
.hw-combobox__option--selected {
  background-color: var(--hw-active-bg-color);
}
