name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0
          bundler: default
          bundler-cache: true
          rubygems: latest

      - name: Lint code
        run: bin/rubocop -f github
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.3", "3.4", "4.0"]
    steps:
      - name: SQLite3 version
        run: sqlite3 --version

      - uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler: default
          bundler-cache: true
          rubygems: latest

      - name: Setup database
        run: |
          bundle exec rake db:create
          bundle exec rake db:schema:load

      - name: Load fixtures
        run: bundle exec rake db:fixtures:load

      - name: Run tests
        run: bundle exec rake app:test

      - name: Run system tests
        env:
          RAILS_ENV: test
          DATABASE_URL: sqlite3:db/test.sqlite3
          HEADLESS_CHROME: true
        run: bundle exec rake app:test:system
